<style>
    .input-container {
        display: grid;
        grid-template-columns: 200px 100px;
    }

</style>

<form method="post" encType="multipart/form-data">
    <div class="input-container">
        <input type="file" name="test-file">
        <button type="submit">Convert</button>
    </div>

</form>


